$primary: #C9B6C0;
$secondary: #FB5D6C;
$background: #C9B6C0;
$font: #666;
$hover: #808080;

$break-medium: 580px;
$break-small: 320px;

@font-face {
  font-family: 'fs';
  src: url('../assets/font/fs.eot?75217134');
  src: url('../assets/font/fs.eot?75217134#iefix') format('embedded-opentype'),
       url('../assets/font/fs.woff2?75217134') format('woff2'),
       url('../assets/font/fs.woff?75217134') format('woff'),
       url('../assets/font/fs.ttf?75217134') format('truetype'),
       url('../assets/font/fs.svg?75217134#fs') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* 
    RESET
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
	line-height: 1.2;
    color: $font;
    background-color: $background;
    min-width: 320px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ICON FONT
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fs";
    font-style: normal;
    font-weight: normal;

    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-compass:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e804'; } /* '' */
.icon-cw:before { content: '\e805'; } /* '' */
.icon-flash:before { content: '\e806'; } /* '' */
.icon-restaurant:before { content: '\e807'; } /* '' */
.icon-chart-line:before { content: '\e808'; } /* '' */
.icon-foursquare:before { content: '\f180'; } /* '' */

/*
    STYLES
*/
button:active, button:hover, button:focus {
  outline: none
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out; 	
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a,
a:visited {
    color: $font;
    text-decoration: underline;
}
a:hover,
a:focus,
a:active {
	color: $hover;
}
#content {
    max-width: 650px;
    margin: auto;
}
#header {    
    color: white;
    padding: 20px;
    background-color: $primary;
    
    > a {
        color: white;
    }
}
#refresh {
    font-size: 25px;
    border: none;
    background: none;
    color: white;
    font-family: 'fs';
    
    &:before {
        content: '\e805';
    }
    
    &:hover {
        cursor: pointer;
    }
}
#attribution {
    font-size: 25px;
    float:right;
}
#table {
    padding: 0 20px;
}
.item {
    background: #fff;
    border-radius: 2px;
    position: relative;
    margin: 20px 0;  
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
        0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(0,0,0,0.22);
    }
}
.name {
    font-size: 18px;
    color: white;
    padding: 30px 20px;
    background-color: $secondary;
    margin-bottom: 20px;
}
.content {
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 10px;
    
    > ul {
        margin: 15px;
    }
    
    &:last-child {
        padding-bottom: 20px;
    }
}
.distance {
    background-color: #f5f5f5;
}
.rating > li {
    font-size: 35px;
    display: inline;
    color: $primary; 
    
    @media screen and (max-width: $break-medium) {
        font-size: 25px;
    }
}
.hidden {
    display: none;
}
.spinning {
    color: $secondary !important;
    animation: spin 1s infinite linear;
    transition: all 1s ease-in-out;
}
@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }

    100% {   
        transform: rotate(359deg);
    }
}
